<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to gitPub</h1>
    <style type="text/css">
        body {
            color:yellow;
            background-color: goldenrod;
        }
    </style>
    <ul>
        <% for(let i = 0; i < drink.length; i++) { %>
        <li>
            <a href="/drinks/<%=i%>"><%=drink[i].name %></a>
        </li>
        <% } %>
    </ul>
    <ul>
        <% for(let i = 0; i < food.length; i++) { %>
        <li>
            <a href="/foods/<%=i%>"><%=food[i].name %></a>
        </li>
        <% } %>
    </ul>
</body>
</html>